/*Master Styles*/
* {
    font-family: "Trirong", serif;
}


body {
    margin: 0px;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}



.about-container> p {
    margin: 10px;
    padding: 10px;
    white-space: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

/*Nav Styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

a {
    text-decoration: inherit;
    color: transparent;
}

a:hover {
    font-weight: 600;
    color: white;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper :hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.right-side {
    display: flex;
    width: 10%;
    /* height: 10%; */
}

.brand {
    background-size: cover;
    width: 60%;
    height: 50%;
    float: right;
}

.brandImg {
    background-size: cover;
    width: 90%;
    float: right;
}

/*Portfolio Styles*/

.portfolio-items-wrapper {
    display: grid;
    /* changed from 1fr 1fr 1fr to 1fr to stack elements */
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
}

.portfolio-item-wrapper {
    position: relative;
    padding: 5px;
}

.portfolio-img-background {
height: 300px;
width: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

/* .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
} */

.logo-wrapper{
/* width: 50%; */
margin-bottom: 0 auto;
color: white;
transition: 2s;
}

/* .logo-wrapper{
    width: 50%;
    margin-bottom: 20px;
} */

.img-text-wrapper{
    margin: 0 auto;
}

.img-text-wrapper .subtitle {
font-weight: 600;
color: transparent;
transition: 1s;
}
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.subtitle {

    position: absolute;
    /* margin: 0 auto; */
    left: 40%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 27px;
    /* color: transparent */
    ;}
    /* padding-left: 100px;
    padding-right: 100px; */


.subtitle:hover {
    text-decoration: inherit;
    position: absolute;
    /* margin: 0 auto; */
    left: 40%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 30px;
    /* padding-left: 100px;
    padding-right: 100px; */
}

.emailForm {
    color: white;
    display: flex;
    display: inline;
    
    grid-row: 1fr;
    background-color: rgb(155, 5, 155);
    margin: 10px;
    padding: 10px;
    font-family: "Trirong", serif;;
}

.submitBtn {
    margin: 0 auto;
    width: 100px;
    padding: 5px;
    background-color: black;
    color: white;
}

.submitBtn:hover {
    transition: 1s;
    color: black;
    background-color: white;
    font-weight: bold;
}

.message {
    box-shadow: honeydew;
}

@media (min-width: 400px) { 
    .brandImg {
      background-size: cover;
      width: 90px;
      float: right;

    }
  }